<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%# <%= link_to "#{current_user.name}さん", "#", class: :greeting__link %>
      </div>
    <% end %>
  </div>
</main>