<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
    <div class="btn-group">
      <%= link_to "映画見たよ", new_movie_path, class: :new__btn %>
    </div>
      <%= month_calendar(events: @movies) do |date, movies| %>
        <%= date.day %>
        <% movies.each do |movie| %>
          <div>
            <%= link_to movie.title, movie %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</main>